:root {
  --white: #FFFCF5;
  --bg-body: #020E28;
  --bg-gray: #161D2C;
  --yellow: #FBBF24;
  --gray: #9B9B9B;
  --gradient-1: linear-gradient(#121212, #121212, #121212, #3E1FA7);
  --gradient-2: linear-gradient(#3E1FA7, #668EAC);
  --gradient-3: linear-gradient(to right, #3E1FA799, #A699D799);
  --gradient-4: linear-gradient(#12121266, #12121266, #12121266, #3E1FA7FF);
  --gradient-5: linear-gradient(#12121200, #12121200, #12121200, #3E1FA7FF);
  --gradient-6: linear-gradient(#121212, #121212, #3E1FA7);
}